{% extends 'v_library/root.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between mt-5">
        <h5 class="">{{title}} Book</h5>
    </div>

    <hr>
</div>
<div class="container mt-5">
    <form action="" method="POST">
        {% csrf_token %}

        <div>
            <div>
                {{form.title.label}}
            </div>
            <div>
                {{form.title}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.pages.label}}
            </div>
            <div>
                {{form.pages}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.date_of_publication.label}}
            </div>
            <div>
                {{form.date_of_publication}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.description.label}}
            </div>
            <div>
                {{form.description}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.status.label}}
            </div>
            <div>
                {{form.status}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.category.label}}
            </div>
            <div>
                {{form.category}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.language.label}}
            </div>
            <div>
                {{form.language}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.doc_type.label}}
            </div>
            <div>
                {{form.doc_type}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.authors.label}}
            </div>
            <div>
                {{form.authors}}
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </form>
</div>
{% endblock %}