{% extends 'v_library/root.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between mt-5">
        <h5 class="">{{title}} Category</h5>
    </div>

    <hr>
</div>
<div class="container mt-5">
    <form action="" method="POST">
        {% csrf_token %}

        <div>
            <div>
                {{form.name.label}}
            </div>
            <div>
                {{form.name}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.status.label}}
            </div>
            <div>
                {{form.status}}
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </form>
</div>
{% endblock %}