{% extends 'v_library/root.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between mt-5">
        <h5 class="">{{title}} Book</h5>
    </div>

    <hr>
</div>
<div class="container mt-5">
    <form action="" method="POST">
        {% csrf_token %}

        <div>
            <div>
                {{form.user.label}}
            </div>
            <div>
                {{form.user}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.book.label}}
            </div>
            <div>
                {{form.book}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.date_issued.label}}
            </div>
            <div>
                <input type="text" name="date_issued" value="{% if form.date_issued.value != None  %} {{form.date_issued.value}} {% endif %}" pattern="\d{4}-\d{2}-\d{2}" placeholder="yyyy-mm-dd" required>
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.return_date.label}}
            </div>
            <div>
                <input type="text" name="return_date" value="{% if form.return_date.value != None  %} {{form.return_date.value}} {% endif %}" pattern="\d{4}-\d{2}-\d{2}" placeholder="yyyy-mm-dd" required>
            </div>
        </div>


        <div class="mt-2">
            <div>
                {{form.status.label}}
            </div>
            <div>
                {{form.status}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.late_return_fee.label}}
            </div>
            <div>
                {{form.late_return_fee}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.language.label}}
            </div>
            <div>
                {{form.language}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.doc_type.label}}
            </div>
            <div>
                {{form.doc_type}}
            </div>
        </div>

        <div class="mt-2">
            <div>
                {{form.authors.label}}
            </div>
            <div>
                {{form.authors}}
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </form>
</div>
{% endblock %}