{% extends 'v_library/root.html' %}

{% block content %}
<div class="container">
    <h5 class="mt-5">Manage Authors</h5>
    <hr>
</div>
<div class="container mt-5">
    <table class="table_id display" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            {% for author in authors %}
            <tr>
                <td>{{author.firstname}} {{author.lastname}}</td>
                
                <td>{{author.date_created}}</td>
                <td>
                    <a class="btn btn-primary">Edit</a>
                    <a class="btn btn-danger">Edit</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}