{% extends 'v_library/root.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between mt-5">
        <h5 class="">Manage Categories</h5>
        <a href="{% url 'add_category' %}" class="btn btn-primary inline-block">Add Category</a>
    </div>
    
    <hr>
</div>
<div class="container mt-5">
    <table class="table_id display" >
        <thead>
            <tr>
                <th>Category</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            {% for category in categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>
                    {% if category.status == 'Active' %}
                        <span class="btn bg-success text-white" >{{category.status}}</span>
                    {% else %}
                        <span class="btn bg-danger text-white" >{{category.status}}</span>
                    {% endif %}
                </td>
                <td>{{category.date_created}}</td>
                <td>
                    <a href="{% url 'edit_category' category.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_category' category.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}