{% extends 'v_library/root.html' %}

{% block content %}
<div class="container">
    <h5 class="mt-5">Manage Users</h5>
    <hr>
</div>
<div class="container mt-5">
    <table class="table_id display" >
        <thead>
            <tr>
                <th>User</th>
                <th>User Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SE12</td>
                <td>Kovack</td>
                <td>email@gmail.com</td>
            </tr>
            <tr>
                <td>SE12</td>
                <td>Kovack</td>
                <td>email@gmail.com</td>
            </tr>
            <tr>
                <td>SE12</td>
                <td>Kovack</td>
                <td>email@gmail.com</td>
            </tr>

        </tbody>
    </table>
</div>
{% endblock %}